<div class="container">
    <div class="row">
        <div class="col-sm-6">
        {{!-- this stores all of the table data in an object --}}
         {{#each burgerData}}
{{!-- double brackets is server-side data  --}}
         {{#unless devoured}}
                 {{burger_name}} <button id="devoured-btn">Devour It!</button><br>
        {{/unless}}
        {{!-- this closes the each loop --}}
         {{/each}}

        </div>
        <div class="col-sm-6">

            {{#each burgerData}}
            {{#if devoured}}
            {{burger_name}}<br>
            {{/if}}
            {{/each}}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <input type="text" id="burger">
            <button id="addburgerbtn">Eat Da Burger!</button>
        </div>
    </div>
</div>
